*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #ffffff;
}

.container{
    display: grid;
    place-content: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
 
    padding: 2rem;
    background-color: #4e0d8b;
    border-radius: 2.5rem;          
}

.input{
    background-color: rgb(32, 25, 73);
    grid-column: 1/5;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 1rem;

}

input[type=text]{
    width: 100%;
    padding: 20px 0;
    text-align: right;
    outline: 0;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5rem;
}

button{
    width: 70px;
    height: 70px;
    background-color: rgb(140, 41, 233);
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
}

.btn-color{
    background-color: rgb(103, 6, 194);
}

button:hover{
    opacity: 0.6;
}

#result-btn{
    grid-column: 4/5;
    grid-row: 3/7;
    height: auto;
}




